<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%-5level] [%thread] %logger{5} - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="no.nav.tpregisteret" level="INFO" />
    <logger name="org.springframework" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON" />
    </root>

</configuration>